

:root {
  --sidebar-width: 250px;
}

.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing:border-box;
  background-color: #37477a;
}

.dashboard-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #2C3D73;
  color: #FFD372;
}

.dashboard-canvas {
  padding: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

.dashboard-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1rem;
  color: #7CA8DC;
}


.big-price {
  transition: color 0.3s ease;
}

.price-update-glow {
  animation: price-flash 1s ease;
}

@keyframes price-flash {
  0% { color: #FFD372; }
  50% { color: #ffffff; text-shadow: 0 0 10px #FFD372; }
  100% { color: #FFD372; }
}